force-app/main/default/flows/Assign_Cases_to_Admin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>New_Case_Email</name>
        <label>New Case Email</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Case.New_Case_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Assign Cases to Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Cases to Admin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Tracy_as_Case_Owner</name>
        <label>Tracy as Case Owner</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>New_Case_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0054R00000BsK2y</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Tracy_as_Case_Owner</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
