force-app/main/default/flows/Create_primary_Contact_on_lead_Convert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Attachment_to_list</name>
        <label>Add Attachment to list</label>
        <locationX>556</locationX>
        <locationY>2256</locationY>
        <assignmentItems>
            <assignToReference>contentDocList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Attachment_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Acc_list</name>
        <label>Add to Acc list</label>
        <locationX>600</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrmaryAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ParentAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Parent_Account</name>
        <label>Assign Parent Account</label>
        <locationX>600</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>ParentAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParentAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ToolBank_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Acc_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Account</name>
        <label>Assign Primary Account</label>
        <locationX>468</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Converted_Contact.npsp__Primary_Affiliation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ToolBank_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Policies_Agreement_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Policies_Agreement_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.FT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Staff_size_FT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.PT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Staff_size_PT__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Agency_Impact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Impact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Agency_Mission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Select_ONE_category_that_most_closely_de__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Annual_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Annual_budget__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Facebook__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sf4twitter__Fcbk_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Twitter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.sf4twitter__Fcbk_User_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Instagram__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Instagram__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Membership_Join_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Membership_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Membership_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.Last_Membership_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.How_Did_You_Hear_About_The_ToolBank__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.How_did_you_hear_about_the_ToolBank__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrmaryAccount.County__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.County__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Parent_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Attachment_Variable</name>
        <label>Clear Attachment Variable</label>
        <locationX>556</locationX>
        <locationY>2364</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attachments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>new_Attachment</name>
        <label>new Attachment</label>
        <locationX>556</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>contentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PrmaryAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Attachments.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Attachment_to_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Attachments_Exist</name>
        <label>check Attachments Exist</label>
        <locationX>600</locationX>
        <locationY>1932</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Attachments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachments</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_primary_already_there</name>
        <label>check if primary already there</label>
        <locationX>446</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_existed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Primary_Contact_if_already_existed</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_Contact</targetReference>
            </connector>
            <label>not existed</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Primary_contact</name>
        <label>check if Primary contact</label>
        <locationX>600</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Check_Primary_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Primary_Individual_account</targetReference>
            </connector>
            <label>Primary exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Primary_Account</name>
        <label>Check Primary Account</label>
        <locationX>600</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>Assign_Parent_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Converted_Contact.npsp__Primary_Affiliation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Account</targetReference>
            </connector>
            <label>Check Primary</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+365</expression>
    </formulas>
    <formulas>
        <name>HouseholdName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Last_Name__c}&amp;&quot; (&quot;&amp;{!$Record.First_Name__c}&amp;&quot;) &quot;&amp;&quot; Household&quot;</expression>
    </formulas>
    <interviewLabel>Create primary Contact on lead Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create primary Contact on lead Convert</label>
    <loops>
        <name>Attachments</name>
        <label>Attachments</label>
        <locationX>468</locationX>
        <locationY>2040</locationY>
        <collectionReference>get_Attachments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>new_Attachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Attachments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Attachments</name>
        <label>Create Attachments</label>
        <locationX>468</locationX>
        <locationY>2556</locationY>
        <inputReference>contentDocList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Contact</name>
        <label>Create Primary Contact</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Check_Primary_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Primary_Individual_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email_address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Direct_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Org_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Affiliation__c</field>
            <value>
                <elementReference>Get_Converted_Contact.npsp__Primary_Affiliation__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Individual_account</name>
        <label>Create Primary Individual account</label>
        <locationX>446</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>get_Primary_Contact_if_already_existed</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>HouseholdName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.ToolBank_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Direct_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policies_Agreement_Date__c</field>
            <value>
                <elementReference>$Record.Policies_Agreement_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012A0000000Hb4eIAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_get_Attachments</name>
        <label>Copy 1 of get Attachments</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attachment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Attachments</name>
        <label>get Attachments</label>
        <locationX>600</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Primary_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>600</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Primary_Contact_if_already_existed</name>
        <label>get Primary Contact if already existed</label>
        <locationX>446</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_primary_already_there</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_accounts</name>
        <label>update accounts</label>
        <locationX>600</locationX>
        <locationY>1716</locationY>
        <connector>
            <targetReference>update_contact</targetReference>
        </connector>
        <inputReference>AccountList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact</name>
        <label>update contact</label>
        <locationX>600</locationX>
        <locationY>1824</locationY>
        <connector>
            <targetReference>check_Attachments_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Converted_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Executive_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>199</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_get_Attachments</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Run_after_2_mins_Lead_converted</name>
            <connector>
                <targetReference>Get_Converted_Contact</targetReference>
            </connector>
            <label>Run after 2 mins Lead converted</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ConvertedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contentDocList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>EmptyContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ParentAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>PrmaryAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
