force-app/main/default/flows/External_Sched_Membership_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Membership_30_Days</name>
        <label>Membership 30 Days</label>
        <locationX>314</locationX>
        <locationY>1404</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D24R000000PG9Q</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>curAgencyID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>ToolBank Membership - DO NOT REPLY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>toEmailAddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>curTargetContact</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X4R000002kXtY</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Emails_to_Collection</name>
        <label>Assign Emails to Collection</label>
        <locationX>666</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>toEmailAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Primary_Contact_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Executive_Contact</name>
        <label>Assign Executive Contact</label>
        <locationX>666</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>curExecContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Contact_ID</name>
        <label>Assign Primary Contact ID</label>
        <locationX>402</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>curPrimaryContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exec_as_Target</name>
        <label>Set Exec as Target</label>
        <locationX>314</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>curTargetContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curExecContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Membership_30_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_as_Target</name>
        <label>Set Primary as Target</label>
        <locationX>50</locationX>
        <locationY>1188</locationY>
        <assignmentItems>
            <assignToReference>curTargetContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>curPrimaryContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Membership_30_Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Primary_Contact_ID</name>
        <label>Check for Primary Contact ID</label>
        <locationX>666</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Primary_Contact_ID</targetReference>
            </connector>
            <label>Is Primary</label>
        </rules>
        <rules>
            <name>Is_Exec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contacts.Executive_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Executive_Contact</targetReference>
            </connector>
            <label>Is Exec</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_a_Target</name>
        <label>Select a Target</label>
        <locationX>314</locationX>
        <locationY>1068</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_as_Target</targetReference>
            </connector>
            <label>Primary Not Null</label>
        </rules>
        <rules>
            <name>Primary_Null_Exec_Not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>curPrimaryContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>curExecContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exec_as_Target</targetReference>
            </connector>
            <label>Primary Null Exec Not</label>
        </rules>
    </decisions>
    <description>Added identifying target recipient and removed decision for fee email.  Will readd once logic is reworked for this.</description>
    <environments>Default</environments>
    <interviewLabel>External Sched Membership Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External Sched Membership Email</label>
    <loops>
        <name>Loop_Through_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <collectionReference>Find_Agency_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_a_Target</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Agency_Contacts</name>
        <label>Find Agency Contacts</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contacts</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR (3 AND 4))</filterLogic>
        <filters>
            <field>npsp__Primary_Affiliation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Executive_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Executive_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Agency_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Days_to_Expiration__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-01-30</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>curAgencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>curExecContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curPrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>curTargetContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
