force-app/main/default/flows/External_Sched_Unpaid_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Unpaid</name>
        <label>Order Unpaid</label>
        <locationX>418</locationX>
        <locationY>1200</locationY>
        <actionName>SendBetterEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cb_saveAsActivity</name>
            <value>
                <stringValue>CB_TRUE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cb_saveAsTask</name>
            <value>
                <stringValue>CB_FALSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orgWideEmailAddressId</name>
            <value>
                <stringValue>0D24R000000PGA4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>curOrderId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsActivity</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveAsTask</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderDisplayName</name>
            <value>
                <stringValue>ToolBank Orders - DO NOT REPLY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SendTOthisStringCollectionOfEmailAddresses</name>
            <value>
                <elementReference>toemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateTargetObjectId</name>
            <value>
                <elementReference>curTarget</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateID</name>
            <value>
                <stringValue>00X4R000002kXtV</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Emails_to_Collection</name>
        <label>Assign Emails to Collection</label>
        <locationX>638</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>toemailaddress</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>To_Emails.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contact_Agency_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Primary_as_Target</name>
        <label>Set Primary as Target</label>
        <locationX>506</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>curTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Emails.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>To_Emails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Contact_Agency_Contact</name>
        <label>Is Contact Agency Contact</label>
        <locationX>638</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>To_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>To_Emails.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillToContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Primary_as_Target</targetReference>
            </connector>
            <label>Agency Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_still_Unpaid</name>
        <label>Is Status still Unpaid</label>
        <locationX>550</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unpaid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unpaid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Agency_Contacts</targetReference>
            </connector>
            <label>Unpaid</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>External Sched Unpaid Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>External Sched Unpaid Email</label>
    <loops>
        <name>To_Emails</name>
        <label>To Emails</label>
        <locationX>418</locationX>
        <locationY>528</locationY>
        <collectionReference>Find_Agency_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Unpaid</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Agency_Contacts</name>
        <label>Find Agency Contacts</label>
        <locationX>418</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>To_Emails</targetReference>
        </connector>
        <filterLogic>(1 AND (3 AND (2 OR 4)))OR 5</filterLogic>
        <filters>
            <field>npsp__Primary_Affiliation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HasOptedOutOfEmail</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Executive_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillToContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Primary_Contact__c</queriedFields>
        <queriedFields>Executive_Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>LEFT({!$Record.Name}, 19) &lt;&gt; &quot;Membership Renewal-&quot; &amp;&amp;
Text({!$Record.Status}) = &quot;Unpaid&quot;</filterFormula>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X2_Hour_Wait</name>
            <connector>
                <targetReference>Is_Status_still_Unpaid</targetReference>
            </connector>
            <label>2 Hour Wait</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>curOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>curTarget</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toemailaddress</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
