force-app/main/default/flows/Internal_New_Contact_Created_Enable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Atlanta_New_Contact_Created</name>
        <label>Atlanta New Contact Created</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Contact.ATL_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Baltimore_New_Contact_Created</name>
        <label>Baltimore New Contact Created</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Contact.BWI_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Charlotte_New_Contact_Created</name>
        <label>Charlotte New Contact Created</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Contact.CLT_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Cincinnati_new_Contact_Created</name>
        <label>Cincinnati new Contact Created</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Contact.CVG_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Houston_New_Contact_Created</name>
        <label>Houston New Contact Created</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Contact.HOU_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MU7_New_Contact_Created</name>
        <label>MU7 New Contact Created</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <actionName>Contact.MU7_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>No_New_Contact_Created</name>
        <label>No New Contact Created</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Contact.NO_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Phoenix_New_Contact_Created</name>
        <label>Phoenix New Contact Created</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Contact.PHX_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PR_New_Contact_Created</name>
        <label>PR New Contact Created</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Contact.PR_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Richmond_New_Contact_Created</name>
        <label>Richmond New Contact Created</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Contact.RIC_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sacramento_New_Contact_Created</name>
        <label>Sacramento New Contact Created</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Contact.SMF_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TDS_New_Contact_Created</name>
        <label>TDS New Contact Created</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Contact.TDS_Not_NO_or_PR_INT_New_Contact_Need_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Training_New_Contact_Created</name>
        <label>Training New Contact Created</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <actionName>Contact.Training_INT_New_Contact_Created</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Windy_City_New_Contact_Created</name>
        <label>Windy City New Contact Created</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Contact.WCity_INT_New_Contact_Needs_Enablement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_ToolBank_Location</name>
        <label>Check ToolBank Location</label>
        <locationX>1898</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atlanta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000fCN04IAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atlanta_New_Contact_Created</targetReference>
            </connector>
            <label>Atlanta</label>
        </rules>
        <rules>
            <name>Baltimore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000iGgBBIA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Baltimore_New_Contact_Created</targetReference>
            </connector>
            <label>Baltimore</label>
        </rules>
        <rules>
            <name>Charlotte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001A000000PT4HxIAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Charlotte_New_Contact_Created</targetReference>
            </connector>
            <label>Charlotte</label>
        </rules>
        <rules>
            <name>Cincinnati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000rk0fzIAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cincinnati_new_Contact_Created</targetReference>
            </connector>
            <label>Cincinnati</label>
        </rules>
        <rules>
            <name>New_Orleans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0oQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_New_Contact_Created</targetReference>
            </connector>
            <label>New Orleans</label>
        </rules>
        <rules>
            <name>Houston</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000001eM1VvIAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Houston_New_Contact_Created</targetReference>
            </connector>
            <label>Houston</label>
        </rules>
        <rules>
            <name>Richmond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000iGfsAIAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Richmond_New_Contact_Created</targetReference>
            </connector>
            <label>Richmond</label>
        </rules>
        <rules>
            <name>Phoenix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000001UuAIvIAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phoenix_New_Contact_Created</targetReference>
            </connector>
            <label>Phoenix</label>
        </rules>
        <rules>
            <name>Puerto_Rico</name>
            <conditionLogic>(1 OR 3) AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0pQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003MvknFQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_New_Contact_Created</targetReference>
            </connector>
            <label>Puerto Rico</label>
        </rules>
        <rules>
            <name>Sacramento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003OCG1EQAX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sacramento_New_Contact_Created</targetReference>
            </connector>
            <label>Sacramento</label>
        </rules>
        <rules>
            <name>TDS_Not_PR_or_NO</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0gQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0kQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0lQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TDS_New_Contact_Created</targetReference>
            </connector>
            <label>TDS Not PR or NO</label>
        </rules>
        <rules>
            <name>ToolBank_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003NOy0xQAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_New_Contact_Created</targetReference>
            </connector>
            <label>ToolBank Training</label>
        </rules>
        <rules>
            <name>Windy_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003Mvkm7QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Windy_City_New_Contact_Created</targetReference>
            </connector>
            <label>Windy City</label>
        </rules>
        <rules>
            <name>MU7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0124R000001ZC8iQAG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Primary_Affiliation__r.Parent.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0kQAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MU7_New_Contact_Created</targetReference>
            </connector>
            <label>MU7</label>
        </rules>
    </decisions>
    <description>Added RIC and CVG, added check for Member created</description>
    <environments>Default</environments>
    <interviewLabel>Internal New Contact Created - Enable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal New Contact Created - Enable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ToolBank_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Primary_Affiliation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Created_from_member_portal__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
