force-app/main/default/flows/Internal_New_Order_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ATL_New_Order</name>
        <label>ATL New Order</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Order.ATL_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BWI_New_Order</name>
        <label>BWI New Order</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Order.BWI_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CLT_New_Order</name>
        <label>CLT New Order</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Order.CLT_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CVG_New_Order</name>
        <label>CVG New Order</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Order.CVG_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>HOU_New_Order</name>
        <label>HOU New Order</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Order.HOU_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MU7_New_Order</name>
        <label>MU7 New Order</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <actionName>Order.MU7_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NO_New_Order</name>
        <label>NO New Order</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Order.NO_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PHX_New_Order</name>
        <label>PHX New Order</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <actionName>Order.PHX_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PR_New_Order</name>
        <label>PR New Order</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <actionName>Order.PR_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RIC_New_Order</name>
        <label>RIC New Order</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <actionName>Order.RIC_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SMF_New_Order</name>
        <label>SMF New Order</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <actionName>Order.SMF_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TDS_New_Order</name>
        <label>TDS New Order</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Order.TDS_except_NO_and_PR_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Training_New_Order</name>
        <label>Training New Order</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <actionName>Order.Training_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Windy_City_New_Order</name>
        <label>Windy City New Order</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Order.WCity_INT_Order_Submit</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_ToolBank_Location</name>
        <label>Check ToolBank Location</label>
        <locationX>1898</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Atlanta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000fCN04IA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATL_New_Order</targetReference>
            </connector>
            <label>Atlanta</label>
        </rules>
        <rules>
            <name>Baltimore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000iGgBBIA0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BWI_New_Order</targetReference>
            </connector>
            <label>Baltimore</label>
        </rules>
        <rules>
            <name>Charlotte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001A000000PT4HxIAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLT_New_Order</targetReference>
            </connector>
            <label>Charlotte</label>
        </rules>
        <rules>
            <name>Cincinnati</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000rk0fzIAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CVG_New_Order</targetReference>
            </connector>
            <label>Cincinnati</label>
        </rules>
        <rules>
            <name>Houston</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000001eM1VvIAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HOU_New_Order</targetReference>
            </connector>
            <label>Houston</label>
        </rules>
        <rules>
            <name>New_Orleans</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0oQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_New_Order</targetReference>
            </connector>
            <label>New Orleans</label>
        </rules>
        <rules>
            <name>Phoenix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000001UuAIvIAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PHX_New_Order</targetReference>
            </connector>
            <label>Phoenix</label>
        </rules>
        <rules>
            <name>Puerto_Rico</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0pQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003MvknFQAR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PR_New_Order</targetReference>
            </connector>
            <label>Puerto Rico</label>
        </rules>
        <rules>
            <name>Richmond</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001G000000iGfsAIAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RIC_New_Order</targetReference>
            </connector>
            <label>Richmond</label>
        </rules>
        <rules>
            <name>Sacramento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003OCG1EQAX</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SMF_New_Order</targetReference>
            </connector>
            <label>Sacramento</label>
        </rules>
        <rules>
            <name>TDS_Not_PR_or_NO</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0gQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0kQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0lQAB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TDS_New_Order</targetReference>
            </connector>
            <label>TDS Not PR or NO</label>
        </rules>
        <rules>
            <name>ToolBank_Training</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003NOy0xQAD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Training_New_Order</targetReference>
            </connector>
            <label>ToolBank Training</label>
        </rules>
        <rules>
            <name>Windy_City</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003Mvkm7QAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Windy_City_New_Order</targetReference>
            </connector>
            <label>Windy City</label>
        </rules>
        <rules>
            <name>MU7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TB Members Plus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Affiliate__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0014R00003M9m0kQAB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MU7_New_Order</targetReference>
            </connector>
            <label>MU7</label>
        </rules>
    </decisions>
    <description>Added MU7</description>
    <environments>Default</environments>
    <interviewLabel>Internal New Order Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal New Order Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1772</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ToolBank_Location</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
