force-app/main/default/flows/Internal_External_Mem_App_Sub_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Sending an email to the executive and primary contacts on a lead/application to confirm application receipt.</description>
        <name>End_User_Application_Confirmation</name>
        <label>End User Application Confirmation</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>Lead.X1_ToolBank_membership_application_submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_membership_application_received</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>email sent to internal users sharing that a new lead is created.</description>
        <name>New_membership_application_received</name>
        <label>New membership application received</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <actionName>Lead.X2_New_membership_application_received_Internal</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Emails internal users that an application was submitted.  Emails primary and exec contacts that their app has been submitted.</description>
    <environments>Default</environments>
    <interviewLabel>Internal/External Mem App Sub Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Internal/External Mem App Sub Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Wait_1_minute</name>
            <connector>
                <targetReference>End_User_Application_Confirmation</targetReference>
            </connector>
            <label>Wait 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
