force-app/main/default/flows/Share_Agency_with_Account_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AccountShareEle</name>
        <label>AccountShareEle</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>AccountShare.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Agency_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountShare.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>AccountShareList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>set_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_null</name>
        <label>set null</label>
        <locationX>264</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>AccountShare</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TempShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Agency_Accounts</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Share Agency with Account Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Share Agency with Account Team</label>
    <loops>
        <name>Loop_Agency_Accounts</name>
        <label>Loop Agency Accounts</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Get_Agency_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountShareEle</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Share_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Share_Account</name>
        <label>Share Account</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>AccountShareList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Agency_Accounts</name>
        <label>Get Agency Accounts</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Agency_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agency_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Disaster Services</stringValue>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AccountShareList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>TempShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
