force-app/main/default/flows/Update_order_status_on_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_if_All_paid</name>
        <label>check if All paid</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Paid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_order_status</targetReference>
            </connector>
            <label>All paid</label>
        </rules>
        <rules>
            <name>payment_refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount_Paid__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>TotalAmount</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_order_status_to_Unpaid</targetReference>
            </connector>
            <label>payment refund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Cleaning_R__c} + {!$Record.Deposit_R__c} + {!$Record.Total_Handling_Fees__c} + {!$Record.Other_R__c} + {!$Record.Total_Late_Fee__c}+ {!$Record.Delivery_R_Fee__c} + {!$Record.Membership_R_Fee__c}+ {!$Record.Lost_R_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update order status on Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update order status on Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_order_status</name>
        <label>update order status</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_order_status_to_Unpaid</name>
        <label>update order status to Unpaid</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_All_paid</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Amount_Paid__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Returned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unpaid</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
